
/*CSS Style Document*/

body {
	margin: 50px;
}

p {
	color: red;
	padding-bottom: 20px;
}

#bigpic {
	height: 200px;
	width: 300px;
}

img {
	height: 400px;
	width: 600px;
	margin-bottom: 20px;
}

ul {
	list-style-type: square;
	margin-bottom: 20px;
}

.list-title {
	font-family: "Helvetica";
	font-size: 18px;
	font-weight: bold;
}

.list {
	background-color: yellow;
	padding-top: 10px;
	padding-left: 20px;
}

h1 {
	font-family: "Helvetica", sans-serif;
	font-size: 24px;
	font-weight: bolder;
	margin-bottom: 20px;
}

#othercolor {
	color: blue;
}

.byline {
	font-family: "Helvetica Neue", sans-serif;
	font-style: italic;
	font-size: 14;
	color: black;
	text-transform: uppercase;
}